.caixa{
    background-color: #D4F1F4;
}

.titulo{
   color: #189AB4!important;
   font-weight: bold!important;
}

.botao{
    border-color: white!important;
    background-color: #05445E!important;;
    color: white!important;
}

.postagens{
    background-color: white;
}

.text-decorator-none{
    text-decoration: none;
}