.box1{
    background-image: var(--gradiente-tema);
    height: 50px;
    padding-top: 10px;
}

.box2{
    background: image #a1c1c7!important;;
    height: 30px;
    color: #05445E;
    padding-top: 1px;
}

.github-icon{
    font-size: 34px !important;
    color: #05445E;
    margin-left: 15px;
}

.linkedin-icon{
    font-size: 41px !important;
    margin: 0 10px;
    color: #05445E;
}

.instagram-icon{
    font-size: 40px !important;
    color: #05445E;
}

.textos{
   color: #05445E;
}