.imagem2{
    background-image: url(https://conteudo.mercadopago.com.br/hubfs/imagens/blog/mp_blog_mulher_computador_sorrindo.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-left: 20px !important;
    background-color: #189AB4!important;
}

.btCadastrar{
    background-color: #05445E!important;
}